.ext-ux-wiz-Header {
    background-color:white;
    border-bottom:10px solid #99BBE8;
}

.ext-ux-wiz-Header-title {
    font-weight: bold;
    padding: 4px 0px 0px 4px;
}

.ext-ux-wiz-Header-step {
    color:#767676;
    text-align:right;
    padding:2px 4px 0px 0px;
}

.ext-ux-wiz-Header-stepIndicator-container {
    float:right;
    margin-right:6px;
    margin-top:8px;
}

.ext-ux-wiz-Header-stepIndicator {
    margin-left:28px;
    float:left;
    background-image:url(../images/ext-ux-wiz-stepIndicator.png);
    background-position:6px 0px;
    background-repeat:repeat-x;
    height:6px;
    width:6px;
}

.ext-ux-wiz-Header-stepIndicator-active {
    background-position:0px 0px !important;
}

.ux-wiz-card input 
{
    -webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
	-ms-border-radius:15px;
	border-radius:15px;
}


        /* Styling of global error indicator */
        .form-error-state {
            font-size: 11px;
            padding-left: 20px;
            height: 16px;
            line-height: 18px;
            background: no-repeat 0 0;
            cursor: default;
            border: 1px ridge transparent;
        }
        .form-error-state-invalid {
            color: #C30;
            background-image: url(../images/exclamation.gif);
            border: 1px ridge red;
        }
        .form-error-state-valid {
            color: #090;
            background-image: url(../images/drop-yes.gif);
            border: 1px ridge transparent;
        }

        /* Error details tooltip */
        .errors-tip .error {
            font-style: italic;
        }